# ============================================================================
# Fortify on Demand - Credenciais
# ============================================================================
FOD_URL=https://ams.fortify.com
FOD_CLIENT_ID=
FOD_CLIENT_SECRET=

# ============================================================================
# Fortify on Demand - Application
# ============================================================================
FOD_APPLICATION_NAME=
FOD_APP_TYPE=
FOD_APP_CRITICALITY=
FOD_ASSIGN_USER=
FOD_SDLC_STATUS=

# ============================================================================
# GitLab - Configuração
# ============================================================================
GITLAB_URL=https://gitlab.claro.com.br
GITLAB_TOKEN=

# ============================================================================
# fcli - Versão
# ============================================================================
FCLI_VERSION=v3.15.0
